@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2");
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/Gilroy-Light.woff2");
}

$bgColor: #232c37;

body {
  background-color: $bgColor;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#wrapperActions {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

#infoWrapper {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 40px;
}

#cardWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #00000044;
}

#tries {
  font-family: "Gilroy";
  font-size: 20px;
}

#triesText {
  color: white;
  font-size: 18px;
  position: absolute;
  left: 64%;
  top: 55%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-height: 446px) {
  #triesText {
    top: 60%;
  }
}

@media only screen and (max-width: 974px) {
  #triesText {
    left: 78%;
    top: 42%;
  }
}

@media only screen and (max-height: 693px) and (max-width: 974px) {
  #triesText {
    top: 37%;
  }
}

@media only screen and (max-height: 435px) and (max-width: 974px) {
  #triesText {
    top: 31%;
  }
}

@media only screen and (max-width: 550px) {
  #infoWrapper {
    margin-top: 30px;
    margin-right: 30px;
  }
  #triesText {
    top: 40%;
    left: 70%;
  }
}

@media only screen and (max-width: 400px) {
  #triesText {
    left: 63%;
  }
}
